.featurette-heading{
    font-size: 5em;
    padding-top: 8%;
    padding-left: 2%;
}
.lead {
    padding-left: 2%;
    padding-right: 2%;
    
}

.text-center{
    padding-top: 2%;
}

.container {
    padding-top: 2%;
    
}